<h1>Mis documentos</h1>
<p>{{content}}</p>

<span *ngIf="documents.length > 0">Lista de documentos ingresados:</span>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Autenticado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents">
      <td>{{ document.id }}</td>
      <td><a href="{{document.url}}" target="_blank">{{document.title}}</a></td>
      <td>
        <span *ngIf="document.authenticated">✅</span>
        <span *ngIf="!document.authenticated">🚫</span>
      </td>
      <td>
        <a *ngIf="!document.authenticated" href="javascript:void(0)">✅ Autenticar</a>
        <a href="javascript:void(0)">🗑 Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
  


<div class="col-md-12">
  <div class="card card-container">
    <h3>Nuevo documento</h3>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
    
      <div class="form-group">
        <label for="title">Titulo</label>
        <input
          formControlName="title"
          id="title"
          type="text"
          name="title"
          class="form-control">
        <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger" role="alert">
          Título es requerido
        </div>
      </div>
      <div class="form-group">
        <label for="file">Archivo</label>
        <input
          type="file"
          class="form-control"
          name="file"
          required
          formControlName="file"
          (change)="onFileChange($event)"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.file.touched && f.file.invalid"
        >
          <div *ngIf="f.file.errors.required">Es requerido</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Crear
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isUploadFailed"
        >
          Upload archivo falló: {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isUploaded">
      Se subió el archivo {{ title }}.
    </div>
  </div>
</div>